
.yz-grzl-box {
    width: auto;
    min-height: 800px;
    overflow: hidden;
    border-radius: 6px;
    padding: 20px;
    background-color: #fff;
}
.yz-grzl-box .title {
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: left;
    color: #333333;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
}
.yz-grzl-box .block {
    width: auto;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    display: block;
    color: #666666;
    padding: 20px 0;
}
.yz-grzl-box .block .block-img{
    float: left;
    margin-top: 28px;
    margin-right: 50px;
}
.yz-grzl-box .block .block-text1{
    float: left;
    margin-right: 50px;
}
.yz-grzl-box .block .block-text2{
    float: left;
    margin-right: 50px;
}
.yz-grzl-box .block .block-btn{
    width: 100px;
    height: 35px;
    line-height: 35px;
    float: right;
    border-radius: 35px;
    color: #ff733a;
    border: 1px solid #ff733a;
    text-align: center;
    margin-right: 50px;
    margin-top: 18px;
}

.yz-grzl-data {
    width: auto;
    overflow: hidden;
    padding: 50px 80px;
}
.yz-grzl-data-headImg {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    float: left;
}
.yz-grzl-data-edit {
    width: auto;
    float: left;
    margin-left: 20px;
}
.yz-grzl-data-edit p:nth-child(1){
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    color: #ff733a;
    border: 1px solid #ff733a;
    cursor: pointer;
    margin-bottom: 20px;
}
.yz-grzl-data-edit p:nth-child(2){
    width: auto;
    font-size: 14px;
    color: #999999;
    margin-bottom: 20px;
}
.yz-grzl-data-edit p:nth-child(3){
    width: auto;
    font-size: 14px;
    color: #ff3030;
}

.yz-grzl-photo {
    width: auto;
    overflow: hidden;
}
.yz-grzl-photo-ul {
    width: auto;
    overflow: hidden;
    padding: 46px 100px;
}
.yz-grzl-photo-ul li{
    width: 100px;
    float: left;
    margin-right: 128px;
}
.yz-grzl-photo-ul li .perch{
    width: 50px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border: 4px solid #ff733a;
    color: #ff733a;
    font-size: 60px;
    display: block;
    margin: 10px auto;
}
.yz-grzl-photo-ul li p{
    width: 100%;
    text-align: center;
    color: #333333;
    font-size: 14px;
}

.yz-grzl-setting {
    width: auto;
    overflow: hidden;
    padding: 30px;
}
.yz-grzl-setting .form{
    width: 50%;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}
.yz-grzl-setting .form label{
    width: auto;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #333333;
    font-size: 16px;
    margin-right: 25px;
    float: left;
}
.yz-grzl-setting .form .form-content{
    width: auto;
    overflow: hidden;
    float: left;
}
.yz-grzl-setting .form .form-content span{
    width: auto;
    padding: 4px 20px;
    border: 1px solid #ff733a;
    border-radius: 20px;
    color: #ff733a;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.yz-grzl-setting .form .form-content input{
    width: 158px;
    border:none;
    border-bottom: 1px solid #e1e1e1;
}
.yz-grzl-setting .form .active{
    background-color: #ff733a;
    color: #fff !important;
}
.yz-grzl-save {
    width: 194px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #ff733a;
    border-radius: 4px;
    margin: 20px auto;
    border: none;
    display: block;
    cursor: pointer;
}