.yz-ul li {
    border-radius: 0;
}
/* banner搜索区 */
.yz-home-banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.yz-home-banner-img {
    width: 100%;
}

.yz-home-search {
    width: 560px;
    position: absolute;
    top: 40%;
    left: -30%;
    right: 0;
    margin: 0 auto;
    color: #fff;
}

.yz-home-search-text {
    display: block;
    font-size: 60px;
}

.yz-home-search-input {
    display: block;
    width: 490px;
    height: 46px;
    line-height: 46px;
    margin-top: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.6); */
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.2); 
    border: none;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 50px;
    font-size: 20px;
    color: #666666;
    background: rgba(255, 255, 255, 0.4) url(../img/icon_search.png) no-repeat 96% center;
}
.yz-home-search-hot {
    display: block;
    width: 560px;
    margin-top: 6px;
}

.yz-home-search-hot li {
    float: left;
    font-size: 14px;
    line-height: 16px;
    margin: 0 6px;
}

/*  热门推荐区 */
.yz-home-hot {
    width: 1200px;
    margin: 35px auto;
    padding-bottom: 30px;
    background: #fff;
} 
.yz-home-hot-title {
    width: 1200px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.yz-home-hot-box {
    width: 100%;
    overflow: hidden;
}

.yz-home-hot-more {
    width: 100%;
    margin-top: 20px;
}
.yz-home-hot-more button {
    width: 257px;
    height: 56px;
    background-color: rgb(255, 115, 58);
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    border: none;
    display: block;
    margin: 0 auto;
}

/* 新秀推荐区 */
.yz-home-newHot {
    width: 1200px;
    margin: 35px auto;
    background: #fff;
    overflow: hidden;
}
.yz-home-newHot-title {
    float: left;
    margin-left: 60px;
}
.yz-home-newHot-list {
    width: auto;
    overflow: hidden;
}
.yz-home-newHot-list li {
    float: left;
    width: 130px;
    padding: 20px;
}
.yz-home-newHot-card {
    width: 80%;
    overflow: hidden;
}
.yz-home-newHot-card-headImg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
}
.yz-home-newHot-card-name {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}
.yz-home-newHot-card-details {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
.yz-home-newHot-card-details p{
    float: left;
    width: 40px;
    height: 23px;
    line-height: 23px;
    padding: 0;
    text-align: center;
}
.yz-home-newHot-card-details span {
    width: 73px;
    float: right;
    height: 23px;
    line-height: 23px;
    padding: 0;
    text-align: center;
}

/* 三大排行榜 */
.yz-home-ranking-box {
    width: 100%;
    overflow: hidden;
    background:rgba(253, 235, 229, 0.1) url(../img/yinpin.png) no-repeat top center;
    background-size: 100%;
}

.yz-home-ranking {
    width: 1200px;
    margin: 35px auto;
    overflow: hidden; 
}

.yz-home-ranking-list {
    width: 366px;
    overflow: hidden;
    float: left;
    background-color: #fff;
}
.yz-home-ranking-title {
    width: 100%;
    height: 38px;
    text-align: center;
    color: rgb(255,48,49);
    font-size: 25px;
    padding: 20px 0;
    font-weight: bold;
}
.yz-home-ranking-title img {
    display: inline;
    vertical-align: bottom;
}

.yz-home-ranking-head-bg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* background: url(../img/huangguan.png) no-repeat center;
    background-size: 100%; */
}
.yz-home-ranking-nav {
    width: 45%;
    overflow: hidden;
    line-height: 30px;
    margin: 0 auto;
    font-size: 18px;
}
.yz-home-ranking-nav span:first-child {
    width: 66px;
    height: 30px;
    line-height: 30px;
    float: left;
    cursor: pointer;
}
.yz-home-ranking-nav span:last-child {
    float: right;
    cursor: pointer;
}
.yz-home-ranking-nav-active {
    background-color: rgb(31, 198, 251);
    color: #fff;
    border-radius: 20px;
    text-align: center;
}
.yz-home-ranking-details {
    width: 100%;
    margin: 20px auto 0;
}
.yz-home-ranking-user-details {
    width: 180px;
    overflow: hidden;
    margin: 5px auto; 
}
.yz-home-ranking-user-details p{
    width: 40px;
    line-height: 23px;
    line-height: 23px;
    float: left;
    margin-right: 15px;
    margin-left: 40px;
    padding: 0;
    font-size: 14px;
    text-align: center;
}
.yz-home-ranking-user-details span{
    width: 67px;
    line-height: 23px;
    line-height: 23px;
    float: left;
    padding: 0;
    font-size: 14px;
    text-align: center;
}
.yz-home-ranking-head-img {
    width: 115px;
    height: 115px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    border: 4px solid #ffb72d;
}
.yz-home-ranking-head-bg {
    position: absolute;
    top: -20px;
    right: -110px;
    width: 50px;
    height: 50px;
}
.yz-home-ranking-head-num {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 70px;
    color: #fff;
    line-height: 120px;
    font-weight: bold;
}
.yz-home-ranking-winner .yz-home-ranking-head-num {
    font-size: 40px;
    line-height: 68px;
    font-weight: bold; 
}
.yz-home-ranking-winner .yz-home-ranking-head-bg {
    top: -16px;
    right: -70px;
    width: 40px;
    height: 40px;
}
.yz-home-ranking-winner .yz-home-ranking-user-details {
    width: 180px;
    overflow: hidden;
    margin: 5px auto;
}
.yz-home-ranking-winner .yz-home-ranking-user-details p {
    margin-left: 45px;
    margin-right: 10px;
}
.yz-home-ranking-head{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.yz-home-ranking-name {
    text-align: center;
    padding: 6px 0;
    display: block;
}
.yz-home-ranking-winner {
    width: 100%;
    overflow: hidden;
    margin: 0 auto 10px;
}
.yz-home-ranking-winner .yz-home-ranking-head-img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.yz-home-ranking-winner .yz-home-ranking-details {
    width: 50%;
    font-size: 14px;
}
.yz-home-ranking-winner .yz-home-ranking-details:first-child {
    float: left;
}
.yz-home-ranking-winner .yz-home-ranking-details:last-child {
    float: right;
}
.yz-home-ranking-winner .yz-home-ranking-head {
    background-position: 11px 4px;
}
.yz-home-ranking-winner .yz-home-ranking-bill {
    text-align: center;
    color: rgb(102,102,102);
    padding: 4px 0;
    font-size: 12px;
}
.yz-home-ranking-bill {
    text-align: center;
    color: rgb(102,102,102);
    padding: 4px 0;
    font-size: 14px;
}
.yz-home-ranking-contribute {
    color: #ff3030 !important;
    font-size: 16px !important;
}
.yz-home-ranking-list-ul {
    width: 100%;
    overflow: hidden;
}
.yz-home-ranking-list-ul-head{
    width: 30%;
    height: 60px;
    position: relative;
    float: left;
}
.yz-home-ranking-list-ul-head-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
}
.yz-home-ranking--list-ul-head-num {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 40px;
    color: #fff; 
}
.yz-home-ranking-list-ul li {
    width: auto;
    padding: 12px 10px;
    overflow: hidden;
    border-top: 1px dashed rgb(167,214,285);
}
.yz-home-ranking-list-ul-details {
    width: 70%;;
    float: left;
}
.yz-home-ranking-list-ul-details .details {
    width: 100%;
    height: 30px;
}
.yz-home-ranking-list-ul-details .details .yz-home-ranking-name {
    font-size: 14px;
    float: left;
}
.yz-home-ranking-list-ul-details .details .yz-grade {
    float: right;
}
.yz-home-ranking-list-ul-details .bill {
    width: 100%;
    height: 30px;
}
.yz-home-ranking-list-ul-details .bill .yz-details{
    float: left;
    width: 40px;
    text-align: center;
    line-height: 15px;
}
.yz-home-ranking-list-ul-details .yz-home-ranking-contribute {
    float: right;
}
.yz-home-ranking-list-ul-details .bill .yz-home-ranking-bill {
    float: right;
}

.yz-home-ranking-middle {
    margin: 0 50px;
}
 .yz-home-ranking-rich {
     margin-bottom: 44px;
 }
 .yz-home-ranking-rich .yz-grade{
     width: 50px;
     height: 22px;
     line-height: 22px;
     text-align: center;
     padding: 0;
     display: inline-block;
}