/* 海报图样式 */
.yz-qdmx-banner {
    position: relative;
    overflow: hidden;
}
.yz-qdmx-banner img{
    width: 100%;
}
.yz-qdmx-banner p{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255,255,255,0.5);
    font-size: 16px;
}
.yz-qdmx-banner p span {
    color: #ff3030;
    cursor: pointer;
}
/* 趣带梦新导航 */
.yz-qdmx-nav {
    margin-top: 10px;
}
.yz-qdmx-nav li{
    width: 94px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    float: left;
    margin-right: 10px;
    background-color: #fff;
    color: #999999;
    border-radius: 4px;
    cursor: pointer;
}
.yz-qdmx-nav li:hover{
    background-color: rgb(253,92,45) !important;
    color: #fff !important;
}
.yz-qdmx-nav-active {
    background-color: rgb(253,92,45) !important;
    color: #fff !important;
}

/* 趣带萌新列表 */
.yz-qdmx-list {
    /* margin-top: 10px; */
}
.yz-qdmx-list-left {
    width: 940px;
    overflow: hidden;
    float: left;
    padding-bottom: 40px;
}
.yz-qdmx-list-rigth {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-left:12px;
}
.yz-qdmx-list-rigth li {
    width: 438px;
    overflow: hidden;
    float: left;
    border-radius: 6px;
    margin: 0 20px 20px 0;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.yz-qdmx-list-rigth li:hover {
    -webkit-animation: gd-shake 0.3s ease;
    -moz-animation: gd-shake 0.3s ease;
    animation: gd-shake 0.3s ease;
    transform: scale(1.05);
}

@keyframes gd-shake {
    0% {
        top: 0;
    }

    50% {
        top: -5px;
    }

    100% {
        top: 5px;
    }
}

.yz-qdmx-card {
    width: auto;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
}
.yz-qdmx-card-img {
    width: 60px;
    height:60px;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
}
.yz-qdmx-card-left {
    width: 50%;
    height: 60px;
    line-height: 30px;
    float: left;
}
.yz-qdmx-card-left p {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.yz-qdmx-card-left .text {
    color: #333333;
    font-size: 16px;
}
.yz-qdmx-card-left .text span{
    width: 49px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
    padding: 0;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
}
.yz-qdmx-card-right {
    float:right;
    width: 30%;
    height: 60px;
    line-height: 30px;
}
.yz-qdmx-card-left .time {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #666666; 
}

.yz-qdmx-card-right .order {
    width: 70px;
    height: 37px;
    display: block;
    line-height: 37px;
    text-align: center;
    float: right;
    border-radius: 4px;
}
.yz-qdmx-card-right .gameName {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #666666;
    font-size: 14px;
    float: right;
    text-align: right;
}

.yz-qdmx-txt {
    width: auto;
    height: 125px;
    padding: 10px 20px;
    color: #666666;
}
.yz-qdmx-txt .details {
    width: 100%;
    padding: 20px 0;
}
.yz-qdmx-txt .details p {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 16px;
}

.yz-qdmx-txt .content {
    width: 100%;
    padding: 10px 0;
    line-height: 25px;
    font-size: 16px;
}
/* 蓝色 */
.yz-qdmx-blue  {
    border: 1px solid #1fc7fc; 
}
.yz-qdmx-blue  .text span{
    background-color: #67ccf5;
    color: #ffffff;
}
.yz-qdmx-blue  .time span{
    color: #ff3030;
}
.yz-qdmx-blue .order{
    background-color:#06aef3;
    color: #fff;
}
.yz-qdmx-blue .yz-qdmx-txt{
    background-color: rgba(31,199,252,0.1);
}    
.yz-qdmx-blue .details p span{
    color: #1fc7fc;
}   
/* 橙色 */
.yz-qdmx-orange {
    border: 1px solid #ff733a; 
}
.yz-qdmx-orange .text span{
    background-color: #f68d62;
    color: #ffffff;
}
.yz-qdmx-orange .time span{
    color: #ff3030;
}
.yz-qdmx-orange  .order{
    background-color:#ff733a;
    color: #fff;
}
.yz-qdmx-orange .yz-qdmx-txt{
    background-color: rgba(255,115,58,0.1);
}  
.yz-qdmx-orange .details p span{
    color: #ff733a;
}   
.yz-qdmx-right {
    width: 260px;
    overflow: hidden;
    float: left;
    padding-bottom: 40px; 
    margin-top: 10px;
}
.yz-qdmx-right .yz-grade {
    font-size: 12px;
}
.yz-qdmx-right .yz-ranking-bill {
    font-size: 14px !important;
}
.yz-qdmx-right .yz-details {
    font-size: 16px;
}
