/* 提交订单头部 */
.yz-tjdd-titleName {
    height: 77px;
    line-height: 77px;
    font-size: 16px;
    background-color: #fff;
    margin-bottom: 10px;
}

.yz-tjdd-titleName span {
    float: left;
    font-size: 18px;
    margin-left: 15px;
    color: #333333;
}

.yz-tjdd-titleName .line {
    width: 2px;
    height: 24px;
    background-color: #ff733a;
    display: block;
    margin-top: 28px;
    margin-right: 6px;
}

/* 提现内容区 */

.yz-tjdd-box {
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 0 100px 0;
    margin-bottom: 20px;
}

.yz-tjdd-box .title {
    width: auto;
    margin: 0 20px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
}

/* 订单列表 */
.yz-tjdd-shopList {
    width: auto;
    overflow: hidden;
    min-height: 360px;
    margin: 20px 20px 0;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    padding-bottom: 40px;
}

.yz-tjdd-box .nav {
    width: auto;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255, 115, 58, 0.05);
    overflow: hidden;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
}

.yz-tjdd-box .nav li {
    float: left;
    text-align: center;
    font-size: 16px;
    color: #333333;
}

.yz-tjdd-box .nav li:nth-child(1) {
    width: 20%;
}

.yz-tjdd-box .nav li:nth-child(2) {
    width: 15%;
}

.yz-tjdd-box .nav li:nth-child(3) {
    width: 20%;
}

.yz-tjdd-box .nav li:nth-child(4) {
    width: 15%;
}

.yz-tjdd-box .nav li:nth-child(5) {
    width: 15%;
}

.yz-tjdd-box .nav li:nth-child(6) {
    width: 15%;
}

.yz-tjdd-box .item {
    width: auto;
    overflow: hidden;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
    ;
}

.yz-tjdd-box .item li {
    height: 60px;
    line-height: 60px;
    float: left;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
}

.yz-tjdd-box .item li:nth-child(1) {
    width: 20%;
}

.yz-tjdd-box .item li:nth-child(1) img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}

.yz-tjdd-box .item li:nth-child(2) {
    width: 15%;
}

.yz-tjdd-box .item li:nth-child(3) {
    width: 20%;
}

.yz-tjdd-box .item li:nth-child(4) {
    width: 15%;
}

.yz-tjdd-box .item li:nth-child(5) {
    width: 15%;
}

.yz-tjdd-box .item li:nth-child(5) span {
    width: 25px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    background-color: #fff8f5;
    vertical-align: middle;
    color: #999999;
    cursor: pointer;
}

.yz-tjdd-box .item li:nth-child(5) input {
    width: 40px;
    height: 20px;
    line-height: 20px;
    background-color: #fff8f5;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.yz-tjdd-box .item li:nth-child(6) {
    width: 15%;
    color: #ff3030;
    font-weight: bold;
}


/* 下单 */
.yz-tjdd-place {
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    padding: 60px 0 35px 0;
    margin-bottom: 100px;
}
.yz-tjdd-place .price{
    width: auto;
    padding: 0 50px 0 0;
    height: 50px;
    line-height: 50px;
    text-align: right;
    font-size: 16px;
}
.yz-tjdd-place .price span:first-child{
    color: #ff3030;
    font-size: 16px;
}
.yz-tjdd-place .price span:last-child{
    color: #ff3030;
    font-size: 36px;
    font-weight: bold;
}
.yz-tjdd-place .btn-box{
    width: auto;
    overflow: hidden;
    padding: 0 50px 0 0;
}

.yz-tjdd-place .btn-box p{
    width: auto;
    float: right;
    color: #ff3030;
    font-size: 14px;
    margin-right: 23px;
    margin-top: 30px;
}
.yz-tjdd-place .btn-box button{
    width: 196px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #ff733a;
    float: right;
    border: none;
    cursor: pointer;
}

/* 支付订单 */
.yz-tjdd-pay {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1888;
    background-color: rgba(0,0,0,0.2);
    display: none;
}
.yz-tjdd-pay .pay-box {
    width: 820px;
    overflow: hidden;
    padding: 20px 0;
    margin: 300px auto 0;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}
.yz-tjdd-pay .pay-box .title{
    width: auto;
    height:40px;
    line-height: 40px;
    padding: 0 30px;
    text-align: left;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
}
.yz-tjdd-pay .pay-box .close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 24px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    color: #999999;
}
.yz-tjdd-pay .pay-box .pay-type {
    width: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.yz-tjdd-pay .pay-box .pay-type .pay-type-block {
    width: 180px;
    height: 83px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    line-height: 85px;
    text-align: center;
    display: inline-block;
    margin: 0 25px;
}
.yz-tjdd-pay .pay-box .pay-type .pay-type-block img {
    display: inline-block;
    vertical-align: middle;
}
.yz-tjdd-pay .pay-box .pay-type .pay-type-block p {
    width: 93px;
    line-height: 20px;
    color: #323232;
    display: inline-block;
    vertical-align: middle;
}
.yz-tjdd-pay .pay-box .pay-type .pay-type-block p span{
    color: #ff3030;
}
.yz-tjdd-pay .pay-box .pay-btn {
    width: 179px;
    height: 41px;
    line-height: 41px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    background-color: #ff733a;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

/* 扫码支付 */
.yz-tjdd-wxCode {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1888;
    background-color: rgba(0,0,0,0.2);
    display: none;
}
.yz-tjdd-wxCode .wxCode-box{
    width: 502px;
    height: 462px;
    padding: 20px 0;
    margin: 300px auto 0;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}
.yz-tjdd-wxCode .wxCode-box .title{
    width: auto;
    height:40px;
    line-height: 40px;
    padding: 0 30px;
    text-align: left;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
}
.yz-tjdd-wxCode .wxCode-box .close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 24px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    color: #999999;
}
.yz-tjdd-wxCode .wxCode-box .wxCode-img {
    width: 227px;
    height: 227px;
    margin: 87px auto 0;
    display: block;
}