
/* 游戏类型 */
.yz-zyds-gameType {
    border-radius: 4px;
    background-color: #fff;
}

.yz-zyds-gameType-game {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(144,144,144,0.4);
}
.yz-zyds-gameType-type {
    width: 130px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
    background-color: rgb(240,240,240);
    display: block;
}
.yz-zyds-gameType-list {
    width: 1030px;
    overflow: hidden;
    padding: 20px 20px 10px;
    float: left;
    color: rgb(114,114,114);
    background-color: #fff;
}
.yz-zyds-gameType-list-active {
    color: rgb(229,139, 103);
}
.yz-zyds-gameType-list-active .img1 {
    opacity: 0 !important;
}
.yz-zyds-gameType-list-active .img2 {
    opacity: 1 !important;
    /*transition: 0.5s ease;*/
}
.yz-zyds-gameType-list li{
    float: left;
    width: 140px;
    overflow: hidden;
    text-align: center;
}
.yz-zyds-gameType-list li:hover{
    color: rgb(229,139, 103);
}
.yz-zyds-gameType-list li:hover .img1 {
    opacity: 0 !important;
}
.yz-zyds-gameType-list li:hover .img2 {
    opacity: 1 !important;
}
.yz-zyds-gameType-list li img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 10px;
    position: absolute;
    border: none;
    vertical-align: middle;
    top: 0;
    left: 0;
    opacity: 0;
}
.yz-zyds-gameType-list li span{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.yz-zyds-gameType-rank {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgba(144,144,144,0.4);
}
.yz-zyds-gameType-gander {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgb(144,144,144,0.4);
}

/* 排序区 */

.yz-zyds-sort {
    width: 1200px;
    overflow: hidden;
    margin: 30px auto 0;
}

.yz-zyds-sort-ul {
    width: 100%;
    overflow: hidden;
}
.yz-zyds-sort-active {
    background-color: rgb(253,92,45) !important;
    color: #fff !important;
}
.yz-zyds-sort-ul li {
    width: 96px;
    height: 37px;
    line-height: 37px;
    background-color: #fff;
    float: left;
    font-size: 16px;
    color:rgb(114,114,114);
    text-align: center;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.yz-zyds-sort-ul li:hover {
    background-color: rgb(253,92,45) !important;
    color: #fff !important; 
}
.yz-zyds-sort-ul li img{
    width: 10px;
    height: 15px;
    display: block;
    margin: 0 auto 10px;
    position: absolute;
    border: none;
    vertical-align: middle;
    top: 0;
    opacity: 0;
    left: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.yz-zyds-sort-ul .img-box-sort-img-1{
    opacity: 1;
}
.yz-zyds-sort-ul .img-box-sort-img-2{
    opacity: 0;
}
.yz-zyds-sort-ul .img-box-sort-img-3{
    opacity: 0;
}
.yz-zyds-sort-ul .img-box-sort-img-4{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active .img-box-sort-img-1{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active .img-box-sort-img-2{
    opacity: 1;
}
.yz-zyds-sort-ul .yz-zyds-sort-active .img-box-sort-img-3{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active .img-box-sort-img-4{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-top .img-box-sort-img-1{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-top .img-box-sort-img-2{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-top .img-box-sort-img-3{
    opacity: 1;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-top .img-box-sort-img-4{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-bottom .img-box-sort-img-1{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-bottom .img-box-sort-img-2{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-bottom .img-box-sort-img-3{
    opacity: 0;
}
.yz-zyds-sort-ul .yz-zyds-sort-active-bottom .img-box-sort-img-4{
    opacity: 1;
}
/* 排序搜索区 */

.yz-zyds-userCard {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto 100px;
}
.yz-zyds-userCard-left {
    width: 80%;
    overflow: hidden;
    float: left;
    padding-bottom: 10px;
}
.yz-zyds-userCard-right {
    width: 20%;
    overflow: hidden;
    float: left;
    margin-top: 30px;
}
.yz-zyds-userCard-right .yz-grade {
    font-size: 12px;
}
.yz-zyds-userCard-right .yz-ranking-bill {
    font-size: 14px !important;
}
.yz-zyds-userCard-right .yz-details {
    font-size: 16px;
}